
	<div class="wrapper fit_inside">
		<table class="table">
	 <thead>
		 <% if current_user %>

	 		<%= link_to "Create A Job", new_job_path%>
	 		<% end %>

	 <tr>
		 <th>Job Info</th>
		 <th>Location</th>
		 <th>Price</th>
</tr>
</thead>
	<tbody>
			<% @jobs.each do |job| %>
				<tr>
				 	<td><a href="/jobs/<%= job.id %>"><%= job.title %></a></td>
					<td><%= job.location %></td>
				 	<td><%= job.cost %></td>
				</tr>
				 <% end %>
		</tbody>
	</table>
</div>
