<br>
<div class="wrapper">
	<center>
<%= link_to "Create A Job", new_job_path%>
<br>
<br>
	<% @jobs.each do |job| %>
		<p>Job Info: <%= job.title %></p>
		<p>Location: <%= job.location %></p>
		<p>Price: <%= job.cost %><a href="/jobs/<%= job.id %>">View more</a></p>

	<% end %>
	</center>
</div>
