	<br>
	<br>
	<br>
	<div class="wrapper">
	<div class="form-group">
	<h1> Job Form </h1>
	<%= form_for @job do |f| %>
		<%= f.hidden_field :user_id, value: current_user.id %>
	  <br>
	 	<%= f.label :title %>
	 	<%= f.text_field :title %>
		<br>
		<%= f.label :location %>
		<%= f.text_field :location %>
	  <br>
	  <%= f.label :cost %>
	  <%= f.number_field :cost %>
	  <br>
	  <%= f.label :description %>
	  <%= f.text_field :description %>
	  <br>
	  <%= f.label :category %>
	  <%= f.select :category, ["Select One", "Yard Work", "Surveys", "Carpentry"] %>
		<br>
		<br>
	  <%= f.submit "Submit", :class => 'submitty' %>
	<% end %>
    </div>
  </div>
