<div class="wrapper-job">
	<a href="/jobs">Back to Job Listing</a>
	<div class="job-user">
		<h5>Posted by:</h5>
		<h4><%= @u.fname %></h4>
		<h4><%= @u.lname %></h4>
		<img src="<%= @u.avatar %>" alt="" width="150px">
		<div class="job-btn">
			<% if current_user.id != @job.user_id %>
				<button id="accept" class="accept-btn">Accept</button>
			<% else %>
				<%= button_to "Close Job", @job, method: :delete, :id=> "accept", data: {confirm: "Are you sure?"}%>
				<a href="/jobs/<%= @job.id %>/edit"><button id="accept">Edit</button></a>
			<% end %>
		</div>
	</div>
	<br>
	<h2><%= @job.title %></h2>
	<br>
	<h3>Location: <%= @job.location %></h3>
	<br>
	<h4>Pay: $<%= @job.cost %></h4>
	<br>
	<h4>Description</h4>
	<p><%= @job.description %></p>
	<br>
	<br>
	<br>
	<p>Tags: <strong><%= @job.category %></strong></p>
</div>
<script src="/js/jobs.js"></script>