<div class="profile">
	<span><h3><%= @user.fname %></h3>
	<h3><%= @user.lname %></h3></span>
	<img src="<%= @user.avatar %>" alt="">
	<h4><%= @user.email %></h4>
	<p><%= @user.description %></p>
<% if current_user %>
	<%= link_to "Edit Profile", "/users/edit", :class => 'submitty' %>
<% end %>
</div>